.u-section-1 {
  min-height: 408px;
}

.u-section-1 .u-shape-1 {
  width: 127px;
  height: 127px;
  margin: 282px calc(((100% - 1140px) / 2) + 35px) 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: -388px 220px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 220px 0;
}

.u-section-1 .u-shape-2 {
  width: calc(((100% - 1140px) / 2) + 47px);
  height: 127px;
  margin: -58px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 940px) / 2) + 35px);
  }

  .u-section-1 .u-text-1 {
    width: 860px;
    margin-left: 120px;
    margin-right: 120px;
  }

  .u-section-1 .u-text-2 {
    width: 860px;
    margin-left: 120px;
    margin-right: 120px;
  }

  .u-section-1 .u-shape-2 {
    width: calc(((100% - 940px) / 2) + 47px);
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 518px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 392px;
    margin-right: calc(((100% - 720px) / 2) + 35px);
  }

  .u-section-1 .u-text-1 {
    width: 720px;
    margin-top: -498px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: 720px;
    margin-top: -103px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-shape-2 {
    width: calc(((100% - 720px) / 2) + 47px);
    margin-top: -7px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 630px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 504px;
    margin-right: calc(((100% - 540px) / 2) + 35px);
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    margin-top: -610px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-shape-2 {
    width: calc(((100% - 540px) / 2) + 47px);
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 906px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 780px;
    margin-right: calc(((100% - 340px) / 2) + 35px);
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 340px;
    margin-top: -886px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-2 {
    width: calc(((100% - 340px) / 2) + 47px);
  }
}.u-section-2 .u-sheet-1 {
  min-height: 414px;
}

.u-section-2 .u-shape-1 {
  width: 207px;
  height: 181px;
  margin: -23px auto 0 193px;
}

.u-section-2 .u-shape-2 {
  width: 94px;
  height: 94px;
  margin: -77px auto 0 180px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  margin: 14px 140px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -316px auto 60px 155px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    margin-left: 83px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -51px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -43px;
    margin-left: 115px;
    margin-right: 115px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -359px;
    margin-left: 59px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-shape-2 {
    margin-top: 33px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -127px;
    margin-left: 88px;
    margin-right: 88px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -393px;
    margin-left: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 145px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -239px;
    margin-left: 66px;
    margin-right: 66px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -430px;
    margin-left: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 914px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 453px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -547px;
    margin-left: 42px;
    margin-right: 42px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -588px;
    margin-left: 21px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 130px;
  margin: 14px auto 0 140px;
}

.u-section-3 .u-image-2 {
  width: 570px;
  height: 522px;
  margin: 30px auto 10px 140px;
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 123px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 495px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 77px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 312px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 190px;
}

.u-section-4 .u-text-1 {
  font-size: 1.125rem;
  margin: 20px 140px 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 115px;
    margin-right: 115px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 88px;
    margin-right: 88px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 66px;
    margin-right: 66px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-left: 42px;
    margin-right: 42px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 396px;
}

.u-section-5 .u-custom-html-1 {
  min-height: 228px;
  margin: 60px 472px 60px 98px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-custom-html-1 {
    margin-left: 0;
    margin-right: 370px;
    width: 570px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-custom-html-1 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-custom-html-1 {
    margin-right: 0;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-custom-html-1 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 275px;
}

.u-section-6 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: 25px auto 0 -33px;
}

.u-section-6 .u-text-1 {
  font-size: 1.125rem;
  margin: -235px 140px 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-shape-1 {
    margin-top: 105px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -334px;
    margin-left: 115px;
    margin-right: 115px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-shape-1 {
    margin-top: 161px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -390px;
    margin-left: 88px;
    margin-right: 88px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-shape-1 {
    margin-top: 273px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -502px;
    margin-left: 66px;
    margin-right: 66px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-shape-1 {
    margin-top: 581px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -810px;
    margin-left: 42px;
    margin-right: 42px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 320px;
}

.u-section-7 .u-custom-html-1 {
  min-height: 228px;
  margin: 38px 450px 54px 120px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-custom-html-1 {
    margin-left: 20px;
    margin-right: 350px;
    width: 570px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-custom-html-1 {
    margin-left: 0;
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-custom-html-1 {
    margin-right: 0;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-custom-html-1 {
    width: 340px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 490px;
}

.u-section-8 .u-shape-1 {
  width: 190px;
  height: 154px;
  margin: 10px auto 0 133px;
}

.u-section-8 .u-shape-2 {
  width: 106px;
  height: 170px;
  margin: -134px auto 0 113px;
}

.u-section-8 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -119px auto 0 133px;
}

.u-section-8 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px 140px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-shape-1 {
    margin-top: -23px;
  }

  .u-section-8 .u-shape-2 {
    margin-top: -78px;
  }

  .u-section-8 .u-text-1 {
    margin-top: -158px;
    margin-left: 110px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 13px;
    margin-left: 115px;
    margin-right: 115px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-shape-2 {
    margin-top: 6px;
  }

  .u-section-8 .u-text-1 {
    margin-top: -298px;
    margin-left: 84px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 69px;
    margin-left: 88px;
    margin-right: 88px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-shape-2 {
    margin-top: 146px;
  }

  .u-section-8 .u-text-1 {
    margin-top: -438px;
    margin-left: 63px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 66px;
    margin-right: 66px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-shape-2 {
    margin-top: 510px;
  }

  .u-section-8 .u-text-1 {
    margin-top: -774px;
    margin-left: 40px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 41px;
    margin-left: 42px;
    margin-right: 42px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 258px;
}

.u-section-9 .u-custom-html-1 {
  min-height: 145px;
  height: auto;
  margin: 83px 638px 30px 138px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-custom-html-1 {
    margin-left: 38px;
    margin-right: 538px;
    width: 570px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-custom-html-1 {
    margin-left: 0;
    margin-right: 356px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-custom-html-1 {
    margin-right: 176px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-custom-html-1 {
    margin-right: 0;
    width: 340px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 284px;
}

.u-section-10 .u-text-1 {
  font-size: 1.125rem;
  margin: 20px 140px 40px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    margin-left: 115px;
    margin-right: 115px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    margin-left: 88px;
    margin-right: 88px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    margin-left: 66px;
    margin-right: 66px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    margin-left: 42px;
    margin-right: 42px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 983px;
}

.u-section-11 .u-shape-1 {
  width: 250px;
  height: 172px;
  margin: 0 233px 0 auto;
}

.u-section-11 .u-shape-2 {
  width: 157px;
  height: 157px;
  margin: -164px 218px 0 auto;
}

.u-section-11 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -95px 247px 0 auto;
}

.u-section-11 .u-text-2 {
  font-size: 1.125rem;
  margin: 70px 140px 0;
}

.u-section-11 .u-image-1 {
  width: 570px;
  height: 392px;
  margin: 30px auto 0 140px;
}

.u-section-11 .u-text-3 {
  font-size: 1.125rem;
  margin: 30px 140px 50px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-shape-1 {
    margin-left: 20px;
  }

  .u-section-11 .u-shape-2 {
    margin-top: 176px;
  }

  .u-section-11 .u-text-1 {
    margin-top: -435px;
    margin-right: 743px;
    margin-left: 100px;
  }

  .u-section-11 .u-text-2 {
    margin-top: 69px;
    margin-left: 215px;
    margin-right: 215px;
  }

  .u-section-11 .u-image-1 {
    margin-left: 215px;
  }

  .u-section-11 .u-text-3 {
    margin-right: 100px;
    margin-left: 215px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-shape-1 {
    margin-left: 130px;
  }

  .u-section-11 .u-shape-2 {
    margin-top: 1408px;
  }

  .u-section-11 .u-text-1 {
    margin-top: -1667px;
    margin-right: 633px;
    margin-left: 210px;
  }

  .u-section-11 .u-text-2 {
    margin-left: 298px;
    margin-right: 298px;
  }

  .u-section-11 .u-image-1 {
    margin-right: 272px;
    margin-left: auto;
  }

  .u-section-11 .u-text-3 {
    margin-right: 210px;
    margin-bottom: 0;
    margin-left: 298px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 962px;
  }

  .u-section-11 .u-shape-1 {
    margin-left: 220px;
  }

  .u-section-11 .u-shape-2 {
    margin-top: 2143px;
  }

  .u-section-11 .u-text-1 {
    margin-top: -2402px;
    margin-right: 543px;
    margin-left: 300px;
  }

  .u-section-11 .u-text-2 {
    margin-left: 366px;
    margin-right: 366px;
  }

  .u-section-11 .u-image-1 {
    width: 540px;
    height: 371px;
    margin-right: 234px;
  }

  .u-section-11 .u-text-3 {
    margin-right: 300px;
    margin-left: 366px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-11 .u-shape-1 {
    margin-right: 90px;
    margin-left: 320px;
  }

  .u-section-11 .u-shape-2 {
    margin-top: 2006px;
    margin-right: 183px;
  }

  .u-section-11 .u-text-1 {
    margin-top: -2265px;
    margin-right: 443px;
    margin-left: 400px;
  }

  .u-section-11 .u-text-2 {
    margin-left: 442px;
    margin-right: 442px;
  }

  .u-section-11 .u-image-1 {
    width: 340px;
    height: 234px;
    margin-right: 358px;
  }

  .u-section-11 .u-text-3 {
    margin-right: 400px;
    margin-left: 442px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 575px;
}

.u-section-12 .u-shape-1 {
  width: 250px;
  height: 172px;
  margin: -34px 192px 0 auto;
}

.u-section-12 .u-shape-2 {
  width: 148px;
  height: 44px;
  margin: -81px 287px 0 auto;
}

.u-section-12 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -55px 224px 0 auto;
}

.u-section-12 .u-text-2 {
  font-size: 1.125rem;
  margin: 69px 140px 60px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-shape-1 {
    margin-top: -59px;
  }

  .u-section-12 .u-shape-2 {
    margin-top: 3px;
  }

  .u-section-12 .u-text-1 {
    margin-top: -139px;
    margin-right: 185px;
  }

  .u-section-12 .u-text-2 {
    margin-right: 115px;
    margin-bottom: 32px;
    margin-left: 115px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-shape-2 {
    margin-top: 87px;
  }

  .u-section-12 .u-text-1 {
    margin-top: -223px;
    margin-right: 142px;
  }

  .u-section-12 .u-text-2 {
    margin-right: 88px;
    margin-bottom: 0;
    margin-left: 88px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-shape-2 {
    margin-top: 255px;
  }

  .u-section-12 .u-text-1 {
    margin-top: -391px;
    margin-right: 107px;
  }

  .u-section-12 .u-text-2 {
    margin-right: 66px;
    margin-left: 66px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-shape-1 {
    margin-right: 90px;
  }

  .u-section-12 .u-shape-2 {
    margin-top: 673px;
    margin-right: 192px;
  }

  .u-section-12 .u-text-1 {
    margin-top: -844px;
    margin-right: 67px;
  }

  .u-section-12 .u-text-2 {
    margin-right: 42px;
    margin-left: 42px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 317px;
}

.u-section-13 .u-custom-html-1 {
  min-height: 228px;
  margin: 44px 455px 43px 115px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-custom-html-1 {
    margin-left: 15px;
    margin-right: 355px;
    width: 570px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-custom-html-1 {
    margin-left: 0;
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-custom-html-1 {
    margin-right: 0;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-custom-html-1 {
    width: 340px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 210px;
}

.u-section-14 .u-text-1 {
  font-size: 1.125rem;
  margin: 35px 140px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-text-1 {
    margin-left: 115px;
    margin-right: 115px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-text-1 {
    margin-left: 88px;
    margin-right: 88px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-text-1 {
    margin-left: 66px;
    margin-right: 66px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-text-1 {
    margin-left: 42px;
    margin-right: 42px;
  }
}