.u-section-1 {
  min-height: 1606px;
}

.u-section-1 .u-sheet-1 {
  min-height: 1665px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  width: 788px;
  margin: 25px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  width: 860px;
  margin: 59px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 218px;
  height: 164px;
  margin: 25px 209px 0 auto;
}

.u-section-1 .u-text-3 {
  background-image: none;
  font-size: 1.125rem;
  width: 860px;
  margin: -35px auto 0;
}

.u-section-1 .u-shape-2 {
  width: 160px;
  height: 60px;
  margin: -1203px 140px 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -33px 249px 60px 698px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 119px;
    margin-right: 119px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 229px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
    margin-top: 81px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
    margin-top: -54px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 82px;
    margin-right: 339px;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -1277px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 7px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    margin-top: 137px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-top: -110px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 429px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -1613px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 343px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 2155px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 2155px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: 361px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-top: -448px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 196px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -2369px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 1099px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-custom-html-1 {
  min-height: 228px;
  height: auto;
  margin: 136px 448px 136px 122px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-1 {
    margin-right: 348px;
    margin-left: 22px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-custom-html-1 {
    margin-right: 150px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-custom-html-1 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 360px;
}

.u-section-3 .u-text-1 {
  font-size: 1.125rem;
  margin: 20px 140px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 44px 140px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 115px;
    margin-right: 115px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 115px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 88px;
    margin-right: 88px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 88px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 66px;
    margin-right: 66px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 66px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 42px;
    margin-right: 42px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 42px;
  }
}.u-section-4 {
  min-height: 560px;
}

.u-section-4 .u-shape-1 {
  width: 181px;
  height: 84px;
  margin: 22px auto 0 calc(((100% - 1140px) / 2) + 214px);
}

.u-section-4 .u-shape-2 {
  width: 204px;
  height: 166px;
  margin: -141px auto 0 calc(((100% - 1140px) / 2) + 81px);
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -99px calc(((100% - 1140px) / 2) + 823px) 0 calc(((100% - 1140px) / 2) + 97px);
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  width: 860px;
  margin: 57px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  width: 860px;
  margin: 32px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  font-style: italic;
  width: 860px;
  margin: 29px auto 0;
}

.u-section-4 .u-shape-3 {
  width: calc(((100% - 1140px) / 2) + 189px);
  height: 46px;
  margin: -46px 0 0 auto;
}

.u-section-4 .u-text-5 {
  font-size: 1.25rem;
  font-style: italic;
  width: 860px;
  margin: 22px auto 0;
}

.u-section-4 .u-shape-4 {
  width: 269px;
  height: 46px;
  margin: -46px auto 51px calc(((100% - 1140px) / 2) + -116px);
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    margin-left: calc(((100% - 940px) / 2) + 214px);
  }

  .u-section-4 .u-shape-2 {
    margin-left: calc(((100% - 940px) / 2) + 81px);
  }

  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 720px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-shape-3 {
    width: calc(((100% - 940px) / 2) + 189px);
  }

  .u-section-4 .u-text-5 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-shape-4 {
    margin-left: calc(((100% - 940px) / 2) + -116px);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-shape-1 {
    margin-left: calc(((100% - 720px) / 2) + 214px);
  }

  .u-section-4 .u-shape-2 {
    margin-left: calc(((100% - 720px) / 2) + 81px);
  }

  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 500px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-text-3 {
    width: 720px;
  }

  .u-section-4 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
    width: 720px;
  }

  .u-section-4 .u-shape-3 {
    width: calc(((100% - 720px) / 2) + 189px);
  }

  .u-section-4 .u-text-5 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-shape-4 {
    margin-left: calc(((100% - 720px) / 2) + -116px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-shape-1 {
    margin-left: calc(((100% - 540px) / 2) + 214px);
  }

  .u-section-4 .u-shape-2 {
    margin-left: calc(((100% - 540px) / 2) + 81px);
  }

  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 320px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-text-3 {
    width: 540px;
  }

  .u-section-4 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
    width: 540px;
  }

  .u-section-4 .u-shape-3 {
    width: calc(((100% - 540px) / 2) + 189px);
  }

  .u-section-4 .u-text-5 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-shape-4 {
    margin-left: calc(((100% - 540px) / 2) + -116px);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-shape-1 {
    margin-left: calc(((100% - 340px) / 2) + 159px);
  }

  .u-section-4 .u-shape-2 {
    margin-left: calc(((100% - 340px) / 2) + 81px);
  }

  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2) + 120px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-text-3 {
    width: 340px;
  }

  .u-section-4 .u-text-4 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
    width: 340px;
  }

  .u-section-4 .u-shape-3 {
    width: calc(((100% - 340px) / 2) + 189px);
  }

  .u-section-4 .u-text-5 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-shape-4 {
    margin-left: calc(((100% - 340px) / 2) + -116px);
  }
}.u-section-5 .u-sheet-1 {
  min-height: 538px;
}

.u-section-5 .u-text-1 {
  font-size: 1.125rem;
  margin: 31px 140px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 115px;
    margin-left: 115px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 88px;
    margin-left: 88px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: 66px;
    margin-left: 66px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-right: 42px;
    margin-left: 42px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 310px;
}

.u-section-6 .u-custom-html-1 {
  min-height: 228px;
  margin: 41px 430px 41px 140px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-custom-html-1 {
    margin-left: 40px;
    margin-right: 330px;
    width: 570px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-custom-html-1 {
    margin-left: 0;
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-custom-html-1 {
    margin-right: 0;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-custom-html-1 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1356px;
}

.u-section-7 .u-shape-1 {
  width: 194px;
  height: 182px;
  margin: 0 229px 0 auto;
}

.u-section-7 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -132px 219px 0 687px;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: normal;
  margin: 286px auto 0 140px;
}

.u-section-7 .u-shape-2 {
  width: 180px;
  height: 54px;
  margin: -334px 344px 0 auto;
}

.u-section-7 .u-shape-3 {
  width: 250px;
  height: 75px;
  margin: -130px auto 0 -127px;
}

.u-section-7 .u-text-2 {
  font-size: 1.125rem;
  margin: 349px 140px 0;
}

.u-section-7 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-size: 0.75rem;
  margin: 28px auto 0 140px;
}

.u-section-7 .u-text-3 {
  font-size: 1.125rem;
  margin: 32px 140px 0;
}

.u-section-7 .u-btn-3 {
  border-style: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  font-size: 0.75rem;
  margin: 16px auto 0 140px;
}

.u-section-7 .u-text-4 {
  font-size: 1.125rem;
  margin: 28px 140px 0;
}

.u-section-7 .u-custom-html-1 {
  width: 570px;
  min-height: 228px;
  margin: 30px 140px 0;
}

.u-section-7 .u-text-5 {
  font-size: 1.125rem;
  margin: -1176px 140px 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1440px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 181px;
    margin-left: 566px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 314px;
    margin-left: 115px;
    padding: 10px 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 115px;
    margin-right: 115px;
  }

  .u-section-7 .u-btn-2 {
    margin-left: 115px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-7 .u-btn-3 {
    margin-left: 115px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 115px;
    margin-right: 0;
  }

  .u-section-7 .u-custom-html-1 {
    margin-left: 115px;
  }

  .u-section-7 .u-text-5 {
    margin-top: -1260px;
    margin-left: 115px;
    margin-right: 115px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1608px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 139px;
    margin-left: 434px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 370px;
    margin-left: 88px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 88px;
    margin-right: 88px;
  }

  .u-section-7 .u-btn-2 {
    margin-left: 88px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 88px;
  }

  .u-section-7 .u-btn-3 {
    margin-left: 88px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 88px;
  }

  .u-section-7 .u-custom-html-1 {
    margin-right: 62px;
    margin-left: 88px;
  }

  .u-section-7 .u-text-5 {
    margin-top: -1428px;
    margin-left: 88px;
    margin-right: 88px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1860px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 104px;
    margin-left: 326px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 482px;
    margin-left: 66px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 66px;
    margin-right: 66px;
  }

  .u-section-7 .u-btn-2 {
    margin-left: 66px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 66px;
  }

  .u-section-7 .u-btn-3 {
    margin-left: 66px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 66px;
  }

  .u-section-7 .u-custom-html-1 {
    width: 540px;
    margin-right: 0;
    margin-left: 66px;
  }

  .u-section-7 .u-text-5 {
    margin-top: -1680px;
    margin-left: 66px;
    margin-right: 66px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2644px;
  }

  .u-section-7 .u-shape-1 {
    margin-right: 146px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 65px;
    margin-left: 205px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 762px;
    margin-left: 42px;
  }

  .u-section-7 .u-shape-2 {
    margin-right: 160px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 42px;
    margin-right: 42px;
  }

  .u-section-7 .u-btn-2 {
    margin-left: 42px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 42px;
  }

  .u-section-7 .u-btn-3 {
    margin-left: 42px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 42px;
  }

  .u-section-7 .u-custom-html-1 {
    width: 340px;
    margin-left: 42px;
  }

  .u-section-7 .u-text-5 {
    margin-top: -2464px;
    margin-left: 42px;
    margin-right: 42px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 481px;
}

.u-section-8 .u-text-1 {
  font-size: 1.125rem;
  margin: 28px 140px 0;
}

.u-section-8 .u-shape-1 {
  width: 154px;
  height: 125px;
  margin: 15px auto 0 716px;
}

.u-section-8 .u-shape-2 {
  width: 133px;
  height: 133px;
  margin: -147px 240px 0 auto;
}

.u-section-8 .u-text-2 {
  font-size: 1.125rem;
  margin: 15px 140px 0;
}

.u-section-8 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -219px 289px 60px 736px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-left: 115px;
    margin-right: 115px;
  }

  .u-section-8 .u-shape-2 {
    margin-top: -119px;
  }

  .u-section-8 .u-text-2 {
    margin-top: -14px;
    margin-left: 115px;
    margin-right: 115px;
  }

  .u-section-8 .u-text-3 {
    margin-top: -247px;
    margin-right: 189px;
    margin-left: 606px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-left: 88px;
    margin-right: 88px;
  }

  .u-section-8 .u-shape-1 {
    margin-left: 566px;
  }

  .u-section-8 .u-shape-2 {
    margin-top: -91px;
  }

  .u-section-8 .u-text-2 {
    margin-top: -42px;
    margin-left: 88px;
    margin-right: 88px;
  }

  .u-section-8 .u-text-3 {
    margin-top: -331px;
    margin-right: 79px;
    margin-left: 464px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-left: 66px;
    margin-right: 66px;
  }

  .u-section-8 .u-shape-1 {
    margin-left: 386px;
  }

  .u-section-8 .u-shape-2 {
    margin-top: -7px;
  }

  .u-section-8 .u-text-2 {
    margin-top: -126px;
    margin-left: 66px;
    margin-right: 66px;
  }

  .u-section-8 .u-text-3 {
    margin-top: -415px;
    margin-right: 0;
    margin-left: 348px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    margin-left: 42px;
    margin-right: 42px;
  }

  .u-section-8 .u-shape-1 {
    margin-left: 186px;
  }

  .u-section-8 .u-shape-2 {
    margin-top: 161px;
    margin-right: 207px;
  }

  .u-section-8 .u-text-2 {
    margin-top: -294px;
    margin-left: 42px;
    margin-right: 42px;
  }

  .u-section-8 .u-text-3 {
    margin-top: -611px;
    margin-left: 219px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 296px;
}

.u-section-9 .u-custom-html-1 {
  min-height: 228px;
  margin: 34px 430px 34px 140px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-custom-html-1 {
    margin-left: 40px;
    margin-right: 330px;
    width: 570px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-custom-html-1 {
    margin-left: 0;
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-custom-html-1 {
    margin-right: 0;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-custom-html-1 {
    width: 340px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 267px;
}

.u-section-10 .u-text-1 {
  font-size: 1.125rem;
  margin: 36px 140px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    margin-left: 115px;
    margin-right: 115px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    margin-left: 88px;
    margin-right: 88px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    margin-left: 66px;
    margin-right: 66px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    margin-left: 42px;
    margin-right: 42px;
  }
}